@tailwind base;
@tailwind components;
@tailwind utilities;



/*  .d8888b.                                              888 
// d88P  Y88b                                             888 
// 888    888                                             888 
// 888         .d88b.  88888b.   .d88b.  888d888  8888b.  888 
// 888  88888 d8P  Y8b 888 "88b d8P  Y8b 888P"       "88b 888 
// 888    888 88888888 888  888 88888888 888     .d888888 888 
// Y88b  d88P Y8b.     888  888 Y8b.     888     888  888 888 
//  "Y8888P88  "Y8888  888  888  "Y8888  888     "Y888888 888 
*/
.debug {
    border: 1px solid red;
}


/* Header Logo Animation */
header a:has(img):hover {
    animation-name: logo-hover;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}


/* Underline Animation 
(padding bottom and ::after background color must be added 
with tailwind to the element for the underline to be visible) */
.animated-underline {
    overflow: hidden;
    position: relative;
}

.animated-underline::after {
    content: "";
    display: block;
    position: absolute;
    height: 0.2em;
    left: -110%;
    width: 80%;

    transition: left 250ms;
}

.animated-underline:hover::after {
    left: 10%;
}

/*
//        d8888          d8b                        888    d8b                  
//       d88888          Y8P                        888    Y8P                  
//      d88P888                                     888                         
//     d88P 888 88888b.  888 88888b.d88b.   8888b.  888888 888  .d88b.  88888b. 
//    d88P  888 888 "88b 888 888 "888 "88b     "88b 888    888 d88""88b 888 "88b
//   d88P   888 888  888 888 888  888  888 .d888888 888    888 888  888 888  888
//  d8888888888 888  888 888 888  888  888 888  888 Y88b.  888 Y88..88P 888  888
// d88P     888 888  888 888 888  888  888 "Y888888  "Y888 888  "Y88P"  888  888
*/
/* 888    d8P                     .d888                                                  
// 888   d8P                     d88P"                                                   
// 888  d8P                      888                                                     
// 888d88K      .d88b.  888  888 888888 888d888  8888b.  88888b.d88b.   .d88b.  .d8888b  
// 8888888b    d8P  Y8b 888  888 888    888P"       "88b 888 "888 "88b d8P  Y8b 88K      
// 888  Y88b   88888888 888  888 888    888     .d888888 888  888  888 88888888 "Y8888b. 
// 888   Y88b  Y8b.     Y88b 888 888    888     888  888 888  888  888 Y8b.          X88 
// 888    Y88b  "Y8888   "Y88888 888    888     "Y888888 888  888  888  "Y8888   88888P' 
//                           888                                                         
//                      Y8b d88P                                                         
//                       "Y88P"
*/
@keyframes logo-hover {
    0% {
        transform: scale(1) rotate(0deg);
    }

    25% {
        transform: scale(1.2) rotate(10deg);
    }

    75% {
        transform: scale(1.2) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}